# -*- mode: conf -*-

[Unit]
Description=The api layer to get the data from the database.
Documentation=https://github.com/xmidt-org/gungnir
After=network.target

[Service]
EnvironmentFile=-/etc/default/gungnir
User=gungnir
ExecStart=/usr/bin/gungnir \
          $GUNGNIR_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
